.hidden {
    display: none;
}


#clock {
    text-align: center;
    margin-bottom: 0px;
    color: black;
    font-size: 150px;
}

#greeting {
    text-align: center;
    font-size: 50px;
    margin-top: 0px;
}

section {
    text-align: center;
    font-size: 20px;
}

img {
    pointer-events: none;
    position: absolute;
    width: 100vw;
    height: 100vh;
    z-index: -1;
    object-fit: cover;
    top: 0;
}

body {
    margin: 0%;
    font-family: 'Noto Sans KR', sans-serif;
}
#weather {
    text-align: right;
    font-size: 17px;
    text-decoration: solid;
}
.content {
    margin-left: 350px;
    margin-right: 350px;
    padding-bottom: 30px;
    background-color: rgb(255, 255, 255, 0.6);
    
}
input {
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 20px;
    width: 300px;
    height: 30px;
    border-bottom: 3px solid black;
    border-top: none;
    border-left: none;
    border-right: none;
    outline: none;
    background-color: rgb(255, 255, 255, 0);
}
li{
    list-style: none;
}
li span{
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 20px;
}
button:after{
    content: "\00d7"; font-size:20pt;
}
button{
    margin-left: 10px;
    border: none;
    padding: 0;
    background-color: transparent;
}
.city {
    padding-right: 20px;
}
#quote{
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 10px;
}